.nbMain{
    background-color:white;
    height:95vh;
    width:150px;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    justify-content:space-between;
    padding-top: 8px;
    padding-left: 6px;
    
    


}
.nbInnerFlex{
    
    display:flex;
    gap: 3px;
    align-items:center;
    padding:4px;
    
    

}
.nbInnerFlex:hover{
    background-color:rgb(217, 225, 231);
    border-radius: 6px;
   
}


   

