.homeMain{
    background-color: white;
    height: 100%;
    width:1000px;
    padding: 10px;
}
.homeTitle{
    font-size: medium;
    font-weight: 600;

}

.homeDropdown{
    background-color:rgb(231, 237, 242);
    border-radius: 6px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:fit-content;

    select{
        border: none;
        background:transparent;
        outline: none;
        font-size: x-small;

    }
    

}
