.reviewMain{
    background-color:white;
    height: 900px;
    width:100%;
    /* padding:10px; */

}

.reviewHeader{
    display: flex;
    justify-content: space-between;
}

.quizMaster{
    display: flex;
    align-items: center;
    gap:2px;
    font-size: xx-small;
    font-weight: 600;
}

.reviewProfile{
    height: 15px;
    width:15px;
    border-radius: 50%;
    overflow:hidden;
    margin:4px; 
}

.reviewTopic{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding:6px; */
}

.innerText{
    padding: 10px;
}

.submitButton{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgb(136, 136, 242);
        height: 8px;
        width:auto;
        padding:6px;
        border-radius: 4px;
        margin-top: 6px;
        padding: 8px;
}


.previousButton{
    
    display: flex;
    justify-content: right;
    margin-right: 16px;
    margin-top:12px ;
    padding:6px;
} 
.reviewFlex{
    display: flex;
    justify-content:center ;
    gap:6px;
}